body {
    background-image: url('../images/mountains-background.jpg');
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

h1 a {
    color: red;
    text-decoration: none;
}

.post-text {
    padding: 10px;
    margin: 10px 0px;
}

.post-usrname {
    padding: 10px;
    margin: 10px 5px;
}
